<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundlePackageType</key>
	<string>AAPL</string>
	<key>CFBundleSignature</key>
	<string>hook</string>
	<key>CFBundleVersion</key>
	<string>1.0</string>
	<key>CFBundleIdentifier</key>
	<string>com.plexapp.plugins.CrunchyRoll</string>
	<key>PlexClientPlatforms</key>
	<string>MacOSX,Windows</string>
	<key>PlexFrameworkVersion</key>
	<string>2</string>
	<key>PlexPluginMode</key>
	<string>AlwaysOn</string>
	<key>PlexPluginRegions</key>
	<array>
		<string>US</string>
	</array>
	<key>PlexClientCapabilities</key>
	<dict>
		<key>protocols</key>
		<array>
			<string>webkit</string>
		</array>
	</dict>
	<key>PlexMediaContainer</key>
	<array>
		<string>Flash</string>
	</array>
	<key>PlexURLServices</key>
	<dict>
		<key>CrunchyRoll</key>
		<dict>
			<key>URLPattern</key>
			<string>http://.*crunchyroll\.com/.*</string>
			<key>Identifier</key>
			<string>com.plexapp.plugins.CrunchyRoll</string>
		</dict>
	</dict>
	<key>PlexSearchServices</key>
        <dict>
		<key>CrunchyRoll</key>
		<string>com.plexapp.search.CrunchyRoll</string>
	</dict>
	<key>PlexPluginDevMode</key>
	<string>1</string>
</dict>
</plist>
